%h1 Editing team

= render 'form'

= link_to icon_tag("play") + 'Show', coordinator_event_team_path(@coordinator, @event, @team), class: "btn btn-info"
\|
= link_to icon_tag("backward") + 'Back', coordinator_event_teams_path, class: "btn btn-primary"
