%h1 Editing Team

= render 'form'

.btn-group
  = link_to icon_tag("hand-left") + 'Back', organization_season_teams_path, class: "btn btn-primary"
  = link_to icon_tag("play") + 'Show', organization_season_team_path(@organization, @season, @team), class: "btn btn-info"
  
