%h1 Editing team

= render 'form'

.btn-group
  = link_to icon_tag("hand-left") + 'Back', coordinator_group_event_teams_path, class: "btn btn-primary"
  = link_to icon_tag("play") + 'Show', coordinator_group_event_team_path(@coordinator, @event, @team), class: "btn btn-info"
  
