%h1 Editing coordinator

= render 'form'

.btn-group
  = link_to icon_tag("play") + 'Show', @coordinator, class: "btn btn-info"
  = link_to icon_tag("hand-left") + 'Back', coordinators_path, class: "btn btn-primary"

