- unless nav.blank?
  %ol.breadcrumb
    - nav.each_with_index do |n, index|
      %li
        - if index == nav.size - 1
          = n[:title]
        - else
          = link_to n[:title], n[:url]
          %span.divider 
