%p.clearfix
.footer.well
  %p.pull-right
    %a{href: "https://github.com/iconoclastlabs/teamweb/issues?state=open"}
      = image_tag "github.png", width: 30
  %p 
    &copy; TeamWeb
    = Time.zone.now.year
/ /container
