%p.clearfix
.footer.well
  .span3
    %p 
      &copy; TeamsWeb
      = Time.zone.now.year
  .span8
    %p.pull-right
      %a{href: "https://github.com/GantMan/teamweb/issues?state=open"}
        Github
/ /container
