%h1 Editing event

= render 'form'

= link_to icon_tag("play") + 'Show', coordinator_event_path(@event.coordinator, @event), class: "btn btn-info"
\|
= link_to icon_tag("backward") + 'Back', coordinator_events_path, class: "btn btn-primary"
