%h1 Editing event

= render 'form'

.btn-group
  = link_to icon_tag("hand-left") + 'Back', organization_events_path, class: "btn btn-primary"
  = link_to icon_tag("play") + 'Show', organization_event_path(@event.organization, @event), class: "btn btn-info"
  
