body {
  background: image-url("nola.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: rgba(255,255,255,0.5);
}

.masthead {
  background-color: rgba(255,255,255,0.7);
  border: 15px solid rgba(255,255,255,0.01);
}