%h1 Editing Organization

= render 'form'

.btn-group
  = link_to icon_tag("hand-left") + 'Back', organizations_path, class: "btn btn-primary"
  = link_to icon_tag("play") + 'Show', @organization, class: "btn btn-info"
  

